$drawerWidth: 320px;

$white: #fff;
$color-black: #000;
$color-blue: #004263;
$color-blue-hover: #0042631a;
$color-orange: #ef7c01;

//FONTSIZES
$normalSize: 13px;
$middleSize: 18.5px;
$juniorSize: 15.5px;
$staticSize: 14px;

// FONTWEIGHT
$lighterWeight: 300;
$middleWeight: 400;

// BORDERS
$borderRadius: 10px;

// APPLICATION DRAWER WIDTH
$applicationDrawerWidth: 50%; //650px

// MEDIA SCREEN VARIABLES
$bp-large: 65rem; 